<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2026 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl.html). -->
<odoo>
    <menuitem
        id="menu_related_attachment"
        name="Related Attachment"
        parent="base.menu_custom"
    />
</odoo>
