

[MASTER]
load-plugins=pylint_odoo
score=n

[ODOOLINT]

[MESSAGES CONTROL]
disable=all,
# 2) Tetap aktifkan hanya odoolint
enable=odoolint
# 3) Lalu nonaktifkan rule odoolint yang tidak cocok untuk Odoo 14
#    (tambah di baris 'disable=' di atas atau gabungkan, Pylint menerima daftar)
disable=
    prefer-env-translation,   # W8161 - butuh self.env._ (tidak ada di Odoo 14)
    translation-not-lazy      # W8301 - terlalu ketat & memicu false positive di kasus A


[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no
