

[MASTER]
load-plugins=pylint_odoo
score=n

[ODOOLINT]

[MESSAGES CONTROL]
disable=all,prefer-env-translation,translation-not-lazy
# Aktifkan kembali hanya rule dari plugin odoolint
enable=odoolint


[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no
