<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2025 OpenSynergy Indonesia
     Copyright 2025 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). -->
<odoo>
    <menuitem
        id="root_sequence_template_menu"
        name="Sequence"
        parent="base.menu_custom"
    />
</odoo>
