<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2025 OpenSynergy Indonesia
     Copyright 2025 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl-3.0.html) -->
<odoo>
    <menuitem id="menu_test_ssi_mixin" name="Testing" parent="base.menu_custom" />
</odoo>
